//--------------ALL------------
html {
    @media screen and (max-width: 520px) {
        font-size: 8px;
    }
}
body {
    background: #303030;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 3.7rem;
    color: #b4b4b4;
}
a {
    text-decoration: none;
    color: white;
}
@mixin container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

@mixin wrapper {
    margin: 0 auto;
    width: 90%;
}
//-----------------HEADER-------
.header-container {
    @include container();
    width: 100%;
    max-width: 1920px;
    min-height: 970px;
    @media screen and (max-width: 520px) {
        min-height: 400px;
        margin-bottom: 40px;
    }
}
.header-wrapper {
    @include wrapper();
    margin: 0 auto;
    margin-top: 78px;
    width: 80%;
    min-height: 800px;
    max-width: 1455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url("img/header__lamp.png") no-repeat center 35%, url("img/light.png") no-repeat center 35%;
    background-size: 25%, 50%;
    @media screen and (max-width: 520px) {
        min-height: 400px;
        margin-top: 0;
    }
}

.title {
    min-height: 100px;
}

.header__h1 {
    color: #b69b67;
    font-size: 3.75rem;
    position: relative;
    &:hover {
        .header__span {
            animation: pistol 0.8s 1;
            animation-timing-function: ease-in-out;
        }
    }
}
.header__span {
    position: absolute;
    bottom: -100%;
    right: -25%;
    color: #b4b4b4;
    font-size: 1.875rem;
    @media screen and (max-width: 350px) {
        right: 10%;
    }
}
.header__h2 {
    color: #636363;
    margin-top: 30%;
}
.header__scroll {
    color: #454545;
    transition: 0.4s;
    a {
        color: #454545;
    }
    &:hover {
        transform: scale(1.1);
        .header__down {
            animation: btnDown 0.7s linear alternate infinite;
        }
    }
}
.header__down {
    text-align: center;
    a {
        color: #454545;
    }
}
@keyframes pistol {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(70px);
    }
    75% {
    }

    100% {
        transform: translate(0);
    }
}
@keyframes btnDown {
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(40px);
    }
}

//--------------------SERVICES--------------------
.service {
}
.service-container {
    @include container();
}
.service-wrapper {
    @include wrapper();
    width: 80%;
    .service__div {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
.service__div {
    margin-top: 50px;
}
.service__h2 {
    color: #b4b4b4;
    margin-bottom: 40px;
}
.service-left {
    min-width: 40%;
}
.service__h3 {
    color: #b69b67;
    font-size: 3.75rem;
    text-align: start;
    margin-bottom: 30px;
    @media screen and (max-width: 520px) {
        font-size: 2rem;
    }
}
.service__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.service__li {
    color: #b4b4b4;
    margin-bottom: 10%;
}
.service-right {
    margin-top: 30px;
    min-width: 40%;
}
.service__text {
    text-align: left;
    max-width: 300px;
    color: #b4b4b4;
    font-size: 1.25rem;
}
.service__comp {
    min-width: 100%;
    min-height: 50%;
    background: url("img/service.png") no-repeat 20% center;
    background-size: contain;
    margin: 0 auto;
}

//---------------------PORTFOLIO-------------
.portfolio {
}
.portfolio-container {
    @include container();
    @media screen and (max-width: 520px) {
        min-height: 800px;
        margin-top: 40px;
    }
}
.portfolio-wrapper {
    @include wrapper();
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 880px;
    justify-content: space-evenly;
    @media screen and (max-width: 520px) {
        min-height: 800px;
    }
}
.portfolio__h2 {
    color: #b4b4b4;
}
.portfolio__select {
    font-size: 1.875rem;
    color: #b4b4b4;
    background-color: #303030;
    border: #707070;
    padding: 6px 25px 13px 0;
    appearance: none;
    background: url("img/portfolio_down.png") no-repeat 185px;

    @media screen and (max-width: 520px) {
        background: url("img/portfolio_down.png") no-repeat 95px center;
        background-size: 10px;
    }
}
.portfolio__option {
}
.portfolio__items {
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 48% 48%;

    min-height: 570px;
    @media screen and (max-width: 520px) {
        min-height: 300px;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }
}
.portfolio__item {
    box-sizing: border-box;
    margin: 2%;
    background-color: #b69b67;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.portfolio__img-cont {
    max-width: 50%;
    overflow: hidden;
}
.portfolio__img {
    object-fit: cover;
    object-position: left;
}
.portfolio__img3 {
    object-position: -100px;
}
.portfolio__info {
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.portfolio__title {
    font-size: 1.875rem;
    color: #303030;
    border-bottom: 1px solid #303030;
}
.portfolio__text {
    font-size: 0.9375rem;
    color: #303030;
}
.portfolio__category {
    font-size: 0.9375rem;
    color: #303030;
}
.deactive {
    display: none;
}
//--------feeadback+contact---------
.feedbackAndContactUs {
}
.feedbackAndContactUs-container {
    @include container();
    margin-bottom: 10%;
    @media screen and (max-width: 520px) {
        min-height: 700px;
        margin-top: 40px;
    }
}
.feedbackAndContactUs-wrapper {
    @include wrapper();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 915px;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: 520px) {
        min-height: 700px;
    }
}
.feedback {
    flex-basis: 45%;
}

.feedback__h2 {
}
.feedback__people {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 880px;
    @media screen and (max-width: 520px) {
        min-height: 400px;
    }
}
.feedback__person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.feedback__img {
    margin-top: 5px;
    flex-basis: 20% img {
        object-fit: cover;
        object-position: center;
    }
}
.feedback__info {
    flex-basis: 75%;
}
.feedback__text {
    color: #b4b4b4;
    font-size: 1.875rem;
}
.feedback__name {
    color: #b69b67;
    font-size: 1.875rem;
    margin-top: 10%;
    border-top: 1px solid #b69b67;
    padding: 3%;
}
.feedback__aCont {
    text-align: center;
}
//-------------------------CONTACT-US---------------------------

.contactUs {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    background: url("img/people/write.png") no-repeat right bottom;
    background-size: 45%;
    @media screen and (max-width: 1250px) {
        margin-top: 25px;
        align-items: center;
    }
}
.contactUs__h2 {
}
.contactUs__form {
    margin-top: 25px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 1250px) {
        min-height: 300px;
    }
    @media screen and (max-width: 520px) {
        min-height: 150px;
    }
}
.name {
    min-height: 10%;
    background-color: #303030;
    border: 1px solid #b4b4b4;
    font-size: 1.875rem;
    color: #454545;
}
.email {
    min-height: 10%;
    background-color: #303030;
    border: 1px solid #b4b4b4;
    font-size: 1.875rem;
    color: #454545;
}
.message {
    min-height: 45%;
    background-color: #303030;
    border: 1px solid #b4b4b4;
    font-size: 2.3rem;
    color: #454545;
}
.submit {
    min-height: 10%;
    background-color: #b69b67;
    font-size: 1.875rem;
    color: #303030;
}

//---------------CONTACTS--------------------
.contacts {
    margin-top: 40px;
}
.contacts-container {
    @include container();
    min-height: 700px;
    background: url("img/contact/light1.png") no-repeat center bottom;
    background-size: 30%;
    @media screen and (max-width: 520px) {
        min-height: 500px;
    }
}
.contacts-wrapper {
    @include wrapper();
    @media screen and (max-width: 520px) {
        min-height: 500px;
    }
}
.contacts__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #b4b4b4;
    font-size: 1.875rem;
    @media screen and (max-width: 1250px) {
        flex-wrap: wrap;
    }
}
.contact__Info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    &:first-child {
        margin-left: 0;
    }
    @media screen and (max-width: 1250px) {
        margin-bottom: 40px;
    }
}
.contact__title {
    border-top: 1px solid #b69b67;
    color: #b69b67;
    line-height: 80px;
}
.contact__data {
    text-align: center;
}
//------------------------FOOTER-------------
.footer {
}
.footer__container {
    @include container();
    background: url("img/contact/fire.png") no-repeat center bottom;
    min-height: 700px;
    @media screen and (max-width: 520px) {
        min-height: 500px;
    }
}
.footer__wrapper {
    @include wrapper();
    @media screen and (max-width: 520px) {
        min-height: 500px;
    }
}
.footer__title {
    font-size: 3.75rem;
    color: #636363;
    text-align: center;
}
.footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    @media screen and (max-width: 1000px) {
        flex-wrap: wrap;
    }
}
.footer__item {
    font-size: 0.9375rem;
    color: #b4b4b4;
    margin-left: 5px;
}
