//--------------ALL------------
body {
    background: #303030;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
@mixin container {
    width: 100%;
    max-width: 1920px;
}
@mixin wrapper {
    margin: 0 auto;
    width: 90%;
}
//-----------------HEADER-------
.header-container {
    width: 100%;
    max-width: 1920px;
    min-height: 970px;
}
.header-wrapper {
    margin: 0 auto;
    margin-top: 78px;
    width: 80%;
    min-height: 800px;
    max-width: 1455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url("img/header__lamp.png") no-repeat center center, url("img/light.png") no-repeat center center;
    background-size: 70%;
}

.title {
    min-height: 100px;
}

.header__h1 {
    color: #b69b67;
    font-size: 3.75rem;
    position: relative;
    &:hover {
        .header__span {
            animation: pistol 0.8s 1;
            animation-timing-function: ease-in-out;
        }
    }
}
.header__span {
    position: absolute;
    bottom: -3.75rem;
    right: -6rem;
    color: #b4b4b4;
    font-size: 1.875rem;
}
.header__h2 {
    color: #636363;
    font-size: 3.7rem;
    margin-top: 30%;
}
.header__scroll {
    color: #454545;
    transition: 0.4s;
    a {
        color: #454545;
    }
    &:hover {
        transform: scale(1.1);
        .header__down {
            animation: btnDown 0.7s linear alternate infinite;
        }
    }
}
.header__down {
    text-align: center;
    a {
        color: #454545;
    }
}
@keyframes pistol {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(70px);
    }
    75% {
    }

    100% {
        transform: translate(0);
    }
}
@keyframes btnDown {
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(40px);
    }
}

//--------------------SERVICES--------------------
.service {
}
.service-container {
    @include container();
}
.service-wrapper {
    @include wrapper();
    .service__div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.service__div {
    margin-top: 50px;
}
.service__h2 {
    color: #b4b4b4;
    font-size: 3.75rem;
}
.service-left {
    min-width: 30%;
}
.service__h3 {
    color: #b69b67;
    font-size: 3.75rem;
    text-align: start;
}
.service__list {
    list-style: none;
}
.service__li {
    color: #b4b4b4;
    margin-bottom: 20%;
}
.service-right {
    margin-top: 60px;
    min-width: 60%;
}
.service__text {
    max-width: 300px;
    color: #b4b4b4;
}
.service__comp {
    min-height: 200px;
    background: url("img/service.png") no-repeat 70% center;
    background-size: contain;
}
