body {
  background: #303030;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3.7rem;
  color: #b4b4b4;
}

a {
  text-decoration: none;
  color: white;
}

.header-container {
  width: 100%;
  max-width: 1920px;
  min-height: 970px;
}

.header-wrapper {
  margin: 0 auto;
  margin-top: 78px;
  width: 80%;
  min-height: 800px;
  max-width: 1455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("img/header__lamp.png") no-repeat center 35%, url("img/light.png") no-repeat center 35%;
  background-size: 25%, 50%;
}

.title {
  min-height: 100px;
}

.header__h1 {
  color: #b69b67;
  font-size: 3.75rem;
  position: relative;
}

.header__h1:hover .header__span {
  -webkit-animation: pistol 0.8s 1;
          animation: pistol 0.8s 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.header__span {
  position: absolute;
  bottom: -100%;
  right: -25%;
  color: #b4b4b4;
  font-size: 1.875rem;
}

.header__h2 {
  color: #636363;
  margin-top: 30%;
}

.header__scroll {
  color: #454545;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__scroll a {
  color: #454545;
}

.header__scroll:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__scroll:hover .header__down {
  -webkit-animation: btnDown 0.7s linear alternate infinite;
          animation: btnDown 0.7s linear alternate infinite;
}

.header__down {
  text-align: center;
}

.header__down a {
  color: #454545;
}

@-webkit-keyframes pistol {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(70px);
            transform: translate(70px);
  }
  75% {
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes pistol {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(70px);
            transform: translate(70px);
  }
  75% {
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes btnDown {
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes btnDown {
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  75% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

.service-container {
  width: 100%;
  max-width: 1920px;
}

.service-wrapper {
  margin: 0 auto;
  width: 90%;
  width: 80%;
}

.service-wrapper .service__div {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.service__div {
  margin-top: 50px;
}

.service__h2 {
  color: #b4b4b4;
  margin-bottom: 40px;
}

.service-left {
  min-width: 40%;
}

.service__h3 {
  color: #b69b67;
  font-size: 3.75rem;
  text-align: start;
  margin-bottom: 30px;
}

.service__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service__li {
  color: #b4b4b4;
  margin-bottom: 10%;
}

.service-right {
  margin-top: 30px;
  min-width: 40%;
}

.service__text {
  text-align: left;
  max-width: 300px;
  color: #b4b4b4;
  font-size: 1.25rem;
}

.service__comp {
  min-width: 100%;
  min-height: 50%;
  background: url("img/service.png") no-repeat 20% center;
  background-size: contain;
  margin: 0 auto;
}

.portfolio-container {
  width: 100%;
  max-width: 1920px;
}

.portfolio-wrapper {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 880px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio__h2 {
  color: #b4b4b4;
}

.portfolio__select {
  font-size: 1.875rem;
  color: #b4b4b4;
  background-color: #303030;
  border: #707070;
  padding: 6px 25px 13px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("img/portfolio_down.png") no-repeat 185px;
  background-size: 20px;
}

.portfolio__items {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  min-height: 570px;
}

.portfolio__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2%;
  background-color: #b69b67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  max-height: 90%;
}

.portfolio__img-cont {
  max-width: 50%;
  overflow: hidden;
}

.portfolio__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.portfolio__img3 {
  -o-object-position: -100px;
     object-position: -100px;
}

.portfolio__info {
  width: 50%;
  margin-left: 5%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio__title {
  font-size: 1.875rem;
  color: #303030;
  border-bottom: 1px solid #303030;
}

.portfolio__text {
  font-size: 0.9375rem;
  color: #303030;
}

.portfolio__category {
  font-size: 0.9375rem;
  color: #303030;
}

.deactive {
  display: none;
}
/*# sourceMappingURL=style.css.map */